.add-category-screen {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.add-category-screen > button {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.add-category-form {
    width: 25%;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-category-form .form-group {
    width: 97.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.add-category-form .form-group > input {
    width: 97.5%;
    display: flex;
}

.add-category-form .form-group > button {
    margin-top: 1rem;
    cursor: pointer;
    width: 100%;
}
