.contact-screen {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-1rem); /* 1rem = Header's margin */
}

.contact-screen .image-and-text-box {
    width: 100%;
    max-width: 1000px;
    min-width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.contact-screen .image-and-text-box .txt {
    width: 50%;
}

@media (max-width: 600px) {
    .contact-screen .image-and-text-box {
        flex-direction: column;
    }

    .contact-screen .image-and-text-box > .img {
        order: 2;
    }

    .contact-screen .image-and-text-box > .txt{
        order: 1;
        text-align: center;
        width: 90%;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
}

/*   in case you deciede to have a header
.contact-screen .image-and-text-box > .txt > h1 {
    font-size: 32px;
    text-shadow: 0 0 5px #666;
    margin-bottom: 1rem;
    color: #333;
    text-transform: uppercase;
}

.contact-screen .image-and-text-box > .txt > h1 > span {
    font-size: 48px;
    -webkit-text-stroke: .5px #333;
}
*/

.contact-screen .image-and-text-box > .txt > p {
    margin: 0;
    font-size: 1.25rem;
    color: #333;
    width: 90%;
}

