.home-screen {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-screen-welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    color: #333;
}

.home-screen-welcome-text p {
    transform: translateY(-2rem);
}

.home-screen .categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.category-preview {
    margin: 1rem;
    position: relative;
    height: 200px;
    width: 200px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
}

.category-preview h1 {
    position: absolute;
    min-width: 90%;
    text-align: center;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    color: white;
    pointer-events: none;
    -webkit-text-stroke: 0.25px #333;
    transition: opacity 1s linear;
    opacity: 1;
}

.category-preview:hover h1 {
    opacity: 0;
}




