.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s linear;
    pointer-events: none;
    z-index: -1;
}

.modal.shown {
    opacity: 1;
    pointer-events: all;
    z-index: 2;
}

.modal-content {
    width: 50%;
    min-width: 260px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ddd;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

.modal .modal-content .modal-content-text {
    color: #333;
}

.modal .modal-content .modal-content-buttons {
    width: 210px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.modal .modal-content .modal-content-buttons button {
    width: 100px;
    cursor: pointer;
}


